.feedback-request-summary-card {
  margin: 1rem 0;
}

.feedback-requests-loading-card {
  margin: 1rem 0;
}

.feedback-requests-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}