<section class="furl-view">
    <header class="furl-h1 feedback-requests-header">
      <span>Your Feedback Requests</span>
      <button mat-flat-button color="primary" [routerLink]="['/submit']">Create</button>
    </header>
    <mat-divider></mat-divider>
    <mat-card class="feedback-requests-loading-card" *ngIf="!($feedbackRequests | async)">
      <mat-card-title>Searching</mat-card-title>
      <mat-card-content>for your feedback requests</mat-card-content>
      <mat-progress-bar class="furl-card-progress-bar" mode="buffer"></mat-progress-bar>
    </mat-card>
    <section>
      <mat-card *ngFor="let feedbackRequest of $feedbackRequests | async" class="feedback-request-summary-card">
        <section>
          <mat-card-title>{{ feedbackRequest.url}}</mat-card-title>
          <app-tasks-count [feedbackRequest]="feedbackRequest"></app-tasks-count>
          <mat-card-actions>
            <span class="summary-time-ago" [matTooltip]="feedbackRequest.created | date : 'medium'">{{ feedbackRequest.created | timeAgo }}</span>
            <span class="summary-card-flex-grow"></span>
            <button mat-flat-button color="accent" [routerLink]="['/edit', feedbackRequest.id]">Configure</button>
            <button mat-flat-button color="primary" [routerLink]="['/results', feedbackRequest.id]">Results</button>
          </mat-card-actions>
        </section>
      </mat-card>
    </section>
  </section>