@import '~src/_constants';

.feedback-request-summary-card {
  margin: 1rem 0;

  mat-card-title {
    font-size: $furl-card-title-size;
  }
  
  mat-card-actions {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    button {
      margin-left: 1rem;
    }
  }

  .summary-card-flex-grow {
    flex-grow: 1;
  }

  .summary-time-ago {
    opacity: 0.75;
    font-size: 0.75rem;
  }
}

.feedback-requests-loading-card {
  margin: 1rem 0;
}

.feedback-requests-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}