.feedback-request-summary-card {
  margin: 1rem 0;

  mat-card-actions {
    margin: 0;
    padding: 0;
    text-align: right;

    button {
      margin-left: 1rem;
    }
  }
}

.feedback-requests-loading-card {
  margin: 1rem 0;
}

.feedback-requests-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}