<section class="furl-view">
  <header class="view-header">Add instructions</header>
  <ng-container *ngIf="feedbackRequest">
    <div class="furl-url">for {{ feedbackRequest.url }}</div>
    <section>
      Please provide prompts and tasks for the request Request: {{ id }}
    </section>
    <form class="furl-form" [formGroup]="form">
      <div *ngIf="prompts.length === 0">
        This feedback request has no prompts! Prompts will help you gather
        specific user feedback
      </div>
      <ng-container *ngFor="let prompt of prompts; index as i">
        <mat-card class="prompt-card">
          <mat-form-field class="edit-prompt">
            <input
              matInput
              #message
              maxlength="256"
              placeholder="Enter feedback instruction"
              [formControlName]="prompt.controlName"
            />
            <mat-hint align="start"
              ><strong>Task #{{ i + 1 }}</strong>
            </mat-hint>
            <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
          </mat-form-field>
        </mat-card>
      </ng-container>
      <div class="prompt-form-actions">
        <button mat-flat-button color="accent" (click)="addPrompt()">
          Add Prompt
        </button>
      </div>
    </form>
    <mat-card class="comments-card">
      <mat-form-field class="comments">
        <mat-label
          >Users will be prompted for a final written comment</mat-label
        >
        <input matInput disabled />
      </mat-form-field>
    </mat-card>
    <div class="footer-actions">
      <button mat-flat-button color="primary" disabled>
        {{ (savedState | async) ? "Saved" : "Saving" }}
      </button>
      <button mat-flat-button color="primary" (click)="requestFeedback()">
        Request Feedback
      </button>
    </div>
  </ng-container>
</section>
