<section class="furl-view">
  <header class="view-header">Configure your UX test for <span>{{ feedbackRequest ? feedbackRequest.url : 'your website' }}</span></header>
  <ng-container *ngIf="feedbackRequest">
    <section class="form-intro">
      What do you want your users to do?
    </section>
    <form class="furl-form" [formGroup]="form">
      <div *ngIf="prompts.length === 0">
        This feedback request has no prompts! Prompts will help you gather
        specific user feedback
      </div>
      <ng-container *ngFor="let prompt of prompts; index as i">
        <mat-card class="prompt-card">
          <mat-form-field class="edit-prompt">
            <input
              matInput
              #message
              maxlength="256"
              placeholder="Enter task to be performed"
              [formControlName]="prompt.controlName"
            />
            <mat-hint align="start"
              ><strong>Task #{{ i + 1 }}</strong>
            </mat-hint>
            <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
          </mat-form-field>
        </mat-card>
      </ng-container>
      <div class="prompt-form-actions">
        <button mat-flat-button color="accent" (click)="addPrompt()">
          Add Task
        </button>
      </div>
    </form>
    <mat-divider></mat-divider>
    <div class="footer-actions">
      <button mat-flat-button color="primary" disabled>
        {{ (savedState | async) ? "Saved" : "Saving" }}
      </button>
      <button mat-flat-button color="primary" (click)="requestFeedback()">
        Next
      </button>
    </div>
  </ng-container>
</section>
