
@import '~@angular/material/theming';
@import '_constants';

$md-furl-green: (
    50 : #eafdf6,
    100 : #cbfbe9,
    200 : #a8f8da,
    300 : #85f5cb,
    400 : #6bf3c0,
    500 : #51f1b5,
    600 : #4aefae,
    700 : #40eda5,
    800 : #37eb9d,
    900 : #27e78d,
    A100 : #ffffff,
    A200 : #f0fff8,
    A400 : #bdffdf,
    A700 : #a3ffd2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-furl-purple: (
    50 : #edecff,
    100 : #d3d0ff,
    200 : #b6b1ff,
    300 : #9892ff,
    400 : #827aff,
    500 : #6c63ff,
    600 : #645bff,
    700 : #5951ff,
    800 : #4f47ff,
    900 : #3d35ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e0dfff,
    A700 : #c8c6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-theme-primary: mat-palette($md-furl-purple);
$my-theme-accent : mat-palette($md-furl-green);
$my-theme-warn   : mat-palette($mat-red);
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

@include mat-core();
@include angular-material-theme($my-theme);

body {
  background: white;
  margin: 0;
}

* {
  font-family: Quicksand, sans-serif;
}

.furl-view {
  padding: 2rem;
  max-width: 60rem;
  margin: auto;
}

.view-header {
  font-size: $furl-font-size-1;
  text-align: center;
}

:root {
  --font-size-h1: 1.25rem;
}

@media screen and (min-width: 27rem) {
  :root {
    --font-size-h1: 2rem;
  }
}

.furl-h1 {
  font-size: var(--font-size-h1);
  margin-bottom: $furl-font-size-1/2;
}

.furl-form {
  display: flex;
  flex-direction: column;
}

.furl-url {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

mat-progress-bar.furl-card-progress-bar {
  position: absolute;
  left: 0;
}