.form-intro {
  margin: 1rem;
  text-align: center;
}

.footer-actions {
  text-align: center;
  button {
    margin: 1rem 0.5rem;
  }
}

.form-url-field {
  margin: auto;
  width: 100%;
}

.form-card {
  margin-bottom: 1rem;
}