@import '~src/_constants';

.furl-view-home {
  max-width: 80rem;
}

.home-header {
  font-weight: 700;
  font-size: var(--font-size-h0);
  margin-top: var(--font-size-h0);
}
.home-tagline {
  margin: 1rem auto;
  font-size: 1rem;
  max-width: 50rem;
  text-align: center;
}

.home-footer {
  text-align: center;
  margin: 2rem;
}

.home-section {
  text-align: center;
}

.home-image {
  width: 20rem;
  max-width: 60vw;
  margin: 2rem;
}

.home-feature {
  text-align: center;
  max-width: 36rem;
  margin: 4rem auto;

  @media screen and (min-width: 60rem) {
    &:nth-child(even) {
      margin: 6rem 2rem 2rem auto;
    }

    &:nth-child(odd) {
      margin: 6rem auto 2rem 2rem;
    }
  }
}