<section class="furl-view">
  <header class="view-header home-header">Ask your users what they think</header>
  <section class="home-tagline">
    An easier way to collect qualitative feedback on websites. Start gathering
    qualitative feedback on your website or app within seconds to make better
    product decisions
  </section>
  <footer class="home-footer">
    <button mat-flat-button class="furl-header-feedback-button" color="primary" [routerLink]="['/submit']">Get Feedback</button>
  </footer>
  <section class="home-section">
    <img class="home-image" src="assets/undraw_preferences_uuo2-1.png" />
  </section>
  <section class="home-feature">
    <h2>Understand Your Users</h2>
    <p>
      Quantitate methods of understanding user behavior, such as analytics,
      heat-maps, and A/B testing, only reveal part of your user's experience.
      Our targeted qualitative feedback system allows your users to communicate
      their thoughts and reasons for acton on specific elements of your website
      or app.
    </p>
  </section>
  <section class="home-feature">
    <h2>Granular Qualitative Feedback</h2>
    <p>
      Understand what your users think about the specific aspects of your
      website or app, including headlines, content, buttons, images, videos, and
      more. Our platform allows you to easily define which elements you would
      like to collect feedback on. Re-run campaigns to see how each updated
      element performs over time.
    </p>
  </section>
  <section class="home-feature">
    <h2>Actionable Insights</h2>
    <p>
      Through our administrator portal, you can quickly launch campaigns to
      targeted groups of users and begin collecting high-quality feedback. We
      aggregate the results into actionable reports, allowing you to address the
      most critical aspects of your website quickly.
    </p>
  </section>
  <section class="home-feature">
    <h2>Faster Results</h2>
    <p>
      Qualitative feedback allows you to make decisions with informative data on
      your users. By eliminating guesswork from improvements, your website and
      app performance can improve more quickly and with less waste.
    </p>
  </section>
</section>
