:host {
  margin: 1rem;
}


.action-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transcriptions-icon {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.action-content {
  font-size: 1.25rem;
  font-weight: 700;
}

mat-card-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  mat-icon {
    margin: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.action-success-percentage {

}

.action-average-duration {
  margin-left: 0.5rem;
}

.card-actions-grow {
  flex-grow: 1;
}

.action-fail-number {
  color: #E53935;
  font-weight: 700;
}

.action-success-number {
  color: #43A047;
  font-weight: 700;
}