<ng-container [ngSwitch]="changingState">
  <mat-spinner *ngSwitchCase="true" [diameter]="25"></mat-spinner>
  <ng-container *ngSwitchDefault [ngSwitch]="!!(authState | async)">
      <button mat-stroked-button *ngSwitchCase="false" (click)="login()">Sign In</button>
      <section *ngSwitchDefault>
          <button mat-button class="auth-control-username mat-body" [routerLink]="[username]">{{ username }}</button>
          <button mat-button class="auth-control-icon mat-body" [routerLink]="[username]">
            <mat-icon>account_circle</mat-icon>
          </button>
          <button mat-stroked-button (click)="logout()">Sign Out</button>
        </section>
  </ng-container>
</ng-container>