<section class="furl-view">
  <header class="furl-h1">
    Feedback Provided by <strong>{{userNameFromRoute}}</strong>
  </header>
  <mat-divider></mat-divider>
  <mat-card class="feedback-history-loading-card" *ngIf="!($feedbackHistory | async)">
    <mat-card-title>Searching</mat-card-title>
    <mat-card-content>for feedback of user {{userNameFromRoute}}</mat-card-content>
    <mat-progress-bar class="furl-card-progress-bar" mode="buffer"></mat-progress-bar>
  </mat-card>
  <section>
    <mat-card *ngFor="let feedback of $feedbackHistory | async" class="feedback-summary-card">
      <section>
        <mat-card-title>{{ feedback.feedbackRequestUrl || feedback.feedbackRequestId}}</mat-card-title>
        <mat-card-content>
          <div>{{ feedback.written }}</div>
        </mat-card-content>
        <mat-card-actions>
            <span class="summary-time-ago" [matTooltip]="feedback.timestamp | date : 'medium'">{{ feedback.timestamp | timeAgo }}</span>
        </mat-card-actions>
      </section>
    </mat-card>
  </section>
</section>