@import "~src/_constants";

:host {
  margin: 1rem;

  &:hover {
    .action-detailed {
      transition: all ease-in-out 0.3s 0.2s;
      max-height: 15rem;
      opacity: 1;

      padding: 1rem 1rem 0 1rem;
      margin: -1rem;
    }
  }
}

.emotions {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.25rem;
  z-index: 5;
  pointer-events: none;
  overflow: hidden;
  overflow-y: visible;
  right: 11rem;
  margin-bottom: 0.5rem;

  .emoji {
    position: absolute;
    animation: slide 20s linear 0s 1;
    animation-fill-mode: none;
    right: 200%;
    font-size: 1.5rem;
    margin: 0.25rem;
  }
}

@keyframes slide {
  0% {
    right: 0;
    opacity: 0;
  }

  2% {
    opacity: 1;
    transform: scale(1.25);
  }

  5% {
    transform: none;
  }

  100% {
    right: 100rem;
  }
}

mat-card .action-detailed {
  transition: all ease-in-out 0.3s;
  margin: 0;
  max-height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
}

mat-card.init .action-detailed {
  margin: 0;
  max-height: 0;
  opacity: 0;
  padding: 0;
}

mat-card.focus .action-detailed {
  max-height: 15rem;
  opacity: 1;

  padding: 1rem 1rem 0 1rem;
  margin: -1rem;
}

mat-card-actions {
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.action-content {
  font-size: 1.25rem;
  font-weight: 700;

  &.hidden {
    filter: blur(7px);
  }
}

.action-status {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

mat-card-actions {
  text-align: right;

  z-index: 10;

  button {
    margin-left: 0.5rem;
    margin-right: 0;
  }
  background: inherit;
}

mat-progress-bar {
  position: absolute;
  left: 0;
  bottom: 1.5rem;
}

.action-speech-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s opacity ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

.action-speech-icon {
  margin: 0.5rem;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.long-text, .long-text-mobile {
  transition: font-size ease-in-out 1s;
}

.action-speech {
  margin: 0.5rem;
  color: $furl-speech-user-color;

  &.long-text {
    font-size: 0.5rem;
  }
}

@media screen and (max-width:$furl-mobile-desktop-limit) {
  .action-speech.long-text-mobile {
    font-size: 0.5rem;
  }
}

.action-speech-transcribing {
  margin: 0.5rem;
  color: $furl-speech-color;
  animation: glow 0.7s ease-in-out 0s infinite alternate;
}

@keyframes glow {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
