<mat-card>
  <div [class.hidden]="(action._state | async) == FeedbackActionState.INIT" class="action-content">{{action.text}}</div>
  <mat-progress-bar *ngIf="(action._state | async) == FeedbackActionState.START" mode="buffer"></mat-progress-bar>
  <ng-container [ngSwitch]="action._state | async">
  <mat-card-actions *ngSwitchDefault>
    <button mat-raised-button color="primary" (click)="start()">Start</button>
  </mat-card-actions>
  <mat-card-actions *ngSwitchCase="FeedbackActionState.START">
    <button mat-raised-button color="warn" (click)="fail()">Issue</button>
    <button mat-raised-button color="primary" (click)="complete()">Complete</button>
  </mat-card-actions>
  <mat-card-actions *ngSwitchCase="FeedbackActionState.FAIL">
      <button mat-flat-button color="warn">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  <mat-card-actions *ngSwitchCase="FeedbackActionState.COMPLETE">
    <button mat-flat-button color="primary">
      <mat-icon>check</mat-icon>
    </button>
  </mat-card-actions>
  </ng-container>
</mat-card>