<section class="furl-view">
  <header class="view-header">Can you perform the following tasks?</header>
  <ng-container *ngIf="feedbackRequest">
    <div class="furl-url" (click)="openUrl()">{{ feedbackRequest.url }}</div>
    <section>
      The creators of {{ feedbackRequest.url }} are interested in your opinion!
      What do you think about their website?
    </section>
    <ng-container *ngIf="feedbackActions">
      <div>Can you perform the following tasks?</div>
      <app-action
        [action]="action"
        [ongoingAction]="ongoingAction"
        (start)="handleActionStart($event, i)"
        (end)="handleActionEnd($event, i)"
        *ngFor="let action of feedbackActions; index as i"
      ></app-action>
    </ng-container>
    <mat-form-field class="comments">
      <mat-label>Written feedback tell the other half of the story!</mat-label>
      <textarea
        #written
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
    <div class="rate-video">
      Send video/images to
      <strong>{{
        feedbackRequestId.slice(0, 6).toUpperCase() + "@Furl.io"
      }}</strong>
    </div>
    <div class="rate-submit">
      <button
        mat-flat-button
        color="primary"
        (click)="sendFeedback()"
        [disabled]="!allActionsDone || (feedbackStatus | async) !== FeedbackStatus.INIT"
      >
        <ng-container [ngSwitch]="feedbackStatus | async">
          <ng-template [ngSwitchCase]="FeedbackStatus.INIT">
            send feedback
          </ng-template>
          <ng-template [ngSwitchCase]="FeedbackStatus.SENDING">
            sending feedback
          </ng-template>
          <ng-template [ngSwitchCase]="FeedbackStatus.DELIVERED">
            feedback sent
          </ng-template>
          <ng-template [ngSwitchCase]="FeedbackStatus.ERROR">
            failed to send
          </ng-template>
          <ng-template ngSwitchDefault>
            send feedback
          </ng-template>
        </ng-container>
      </button>
    </div>
  </ng-container>
</section>
