<section class="furl-view">
  <header class="view-header">Complete the following tasks</header>
  <section class="form-intro">
    Narrate your experience to express your thoughts.
  </section>
  <ng-container *ngIf="feedbackRequest">
    <div
      class="furl-url"
      (click)="openUrl()"
      matRipple
      matRippleUnbounded="true"
      matRippleRadius="50"
    >
      {{ feedbackRequest.url }}
    </div>
    <ng-container *ngIf="feedbackActions">
      <app-action
        [action]="action"
        [ongoingAction]="ongoingAction"
        (start)="handleActionStart($event, i)"
        (end)="handleActionEnd($event, i)"
        *ngFor="let action of feedbackActions; index as i"
      ></app-action>
    </ng-container>
    <mat-form-field class="comments">
      <mat-label>Written feedback tells the other half of the story!</mat-label>
      <textarea
        #written
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
    <div class="rate-submit">
      <button
        mat-flat-button
        color="primary"
        (click)="sendFeedback()"
        [disabled]="
          !allActionsDone || (feedbackStatus | async) !== FeedbackStatus.INIT
        "
      >
        <ng-container [ngSwitch]="feedbackStatus | async">
          <ng-template [ngSwitchCase]="FeedbackStatus.INIT">
            send feedback
          </ng-template>
          <ng-template [ngSwitchCase]="FeedbackStatus.SENDING">
            sending feedback
          </ng-template>
          <ng-template [ngSwitchCase]="FeedbackStatus.DELIVERED">
            feedback sent
          </ng-template>
          <ng-template [ngSwitchCase]="FeedbackStatus.ERROR">
            failed to send
          </ng-template>
          <ng-template ngSwitchDefault>
            send feedback
          </ng-template>
        </ng-container>
      </button>
    </div>
  </ng-container>
</section>
